---
import HeaderItem from './HeaderItem.astro'
---
<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    
    <nav class="flex flex-row gap-x-10 opacity-80">
        <HeaderItem url="#Home" titulo="Inicio" />
        <!-- <a href="#Home">Inicio</a> -->
        <HeaderItem url="#About" titulo="Sobre mi" />  
        <HeaderItem url="#Education" titulo="Educación" />  
        <HeaderItem url="#HabilidadesyTecnologias" titulo="Habilidades y Tecnologías" />
        <HeaderItem url="#Contacto" titulo="Contacto" />    
    </nav>
    
</header>